<div class="container-fluid" id="container-fluid">
    {{#if course}}
    <table class="table custom-table table-striped table-sm">
        <thead class="thead-dark">
            <tr>
                <th class="col-width-15" style="padding-left:20px;">Course Name</th>
                <th class="col-width-15">Department</th>
                <th class="col-width-10">Course Duration</th>
                <th class="col-width-10">Starts</th>
                <th class="col-width-10">Ends</th>
                <th class="col-width-10">Course Fees</th>
                <th class="col-width-5">Intake</th>
                <th class="col-width-5">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each course}}
            <tr>
                <td class="col-width-15">&nbsp;&nbsp; {{courseName}}</td>
                <td class="col-width-15">{{departmentName}}</td>
                <td class="col-width-10">{{courseDuration}} &nbsp;years</td>
                <td class="col-width-10">{{startDate}}</td>
                <td class="col-width-10">{{endDate}}</td>
                <td class="col-width-10">{{courseFee}} &nbsp; &#8377</td>
                <td class="col-width-5">{{intake}}</td>
                <td class="col-width-5">
                    <div id="dropdown-custom" class="dropdown">
                        <button type="button" class="btn btn-default btn-block" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right animated fadeIn">
                            <li>
                                <a class="dropdown-item" href="/courses/edit?id={{id}}">
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item delete-item" data-id="/courses/{{id}}">Delete</a>
                                <!--form class="btn-delete" action="/courses/{{id}}?_method=DELETE" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="dropdown-item">
                                        Delete
                                    </button>
                                </form-->
                            </li>
                        </div>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    {{/if}}
</div>

<a href="#exampleModalCenter" class="float-search" data-toggle="modal">
    <i class="fa fa-search my-float"></i>
</a>

<a href="/courses/add" class="float">
    <i class="fa fa-plus my-float"></i>
</a>