<div class="container-fluid" id="container-fluid">
    <div class="row mb-3">
        <div class="col-md-10">
            {{!-- <button type="button" class="btn btn-secondary custom-button" data-toggle="modal" data-target="#importCSV">
                <i class="fa fa-file-text-o fa-lg"></i>&nbsp; Import from CSV
            </button>
            <button type="button" id="btnManage" class="btn btn-secondary">Manage</button>
            <div class="btn-group" id="btnGroup" role="group" aria-label="Basic example">
                <button type="button" id="left" class="btn btn-secondary">All</button>
                <button type="button" id="right" class="btn btn-secondary">None</button>
            </div>
            <button type="button" id="btnDel" class="btn btn-danger">Delete</button> --}}
        </div>
        <div class="col-md-2">
            <div class="dropdown">
                <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" style="width:100%;text-align:right;">
                    Sort By &nbsp; <i class="fa fa-sort fa-lg"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/students?sort=asc">
                        Ascending
                    </a>
                    <a class="dropdown-item" href="/students?sort=desc">
                        Descending
                    </a>
                </div>
            </div>
        </div>
    </div>

    {{#if students}}
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Roll Number</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Date Of Admission</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Address</th>
                <th scope="col">Class Admitted To</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each students}}
            <tr>
                <td>{{StudentId.ClassRollNo}}</td>
                <td>{{StudentName.FirstName}}&nbsp;{{StudentName.LastName}}</td>
                <td>{{Gender}}</td>
                <td>{{DateOfAdmission}}</td>
                <td>{{PhoneNumber}}</td>
                <td>{{Address.Address_Line_1}}</td>
                <td>{{Class}}</td>
                <td>
                    <div class="dropdown" id="customized-dropdown">
                        <button type="button" class="btn btn-default" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-v"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right animated fadeIn">
                            <li class="edit-item">
                                <a class="dropdown-item" href="/students/edit?id={{id}}">
                                    Edit
                                </a>
                            </li>
                            <li class="view-item">
                                <a class="dropdown-item" href="/students/details?id={{id}}">
                                    View
                                </a>
                            </li>
                            <li class="del-item">
                                <a href="#" class="dropdown-item" onclick="deleteItem('/students/{{id}}');">Delete</a>
                            </li>
                        </div>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    {{#unless user.privileges.update}}
    <script>
        let updateItems = document.getElementsByClassName('edit-item'), count;

        for (count = 0; count < updateItems.length; count++) {
            updateItems[count].style.display = 'none';
        }
    </script>
    {{/unless}}

    {{#unless user.privileges.delete}}
    <script>
        let items = document.getElementsByClassName("del-item"), i;

        for (i = 0; i < items.length; i++) {
            items[i].style.display = 'none';
        }
    </script>
    {{/unless}}

    <br>

    <ul class="pagination">
        {{#paginate current=current pages=pages}} {{/paginate}}
    </ul>
    {{else}}
    <p>No records found...</p>
    {{/if}}
</div>

<a href="/students/add" class="float">
    <i class="fa fa-plus my-float"></i>
</a>

<!-- Modal -->
<div class="modal fade" id="importCSV" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Import From CSV.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/uploads/import-csv" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" name="importcsv" class="custom-file-input" id="inputGroupFile02">
                                <label class="custom-file-label" for="inputGroupFile02">Choose
                                    file</label>
                            </div>
                            <small id="fileHelp" class="form-text text-muted">This is some
                                placeholder block-level help
                                text for the above input. It's a bit lighter and easily wraps
                                to a new line.
                            </small>

                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="imgCaption" class="form-control" placeholder="Enter a caption...">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Import</button>
                </div>
            </form>
        </div>
    </div>
</div>