<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="media media-user-requests">
                <img class="mr-3" src="/img/logos/icons/check.png" width="50" alt="Generic placeholder image">
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="mt-0">User Registration Requests</h5>
                            There are 135 user registration requests pending.
                        </div>
                        <div class="col-md-4">
                            <a href="/users/requests">
                                <button type="button" class="btn btn-default btn-lg" style="width:100%">Details</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped mt-5">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">IsAdmin</th>
                <th scope="col">Access Privileges</th>
                <th scope="col">Date Created</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>{{role}}</td>
                <td>{{isAdmin}}</td>
                <td>Create: {{privileges.create}}, Read: {{privileges.read}}, Update: {{privileges.update}}, Delete:
                    {{privileges.delete}}</td>
                <td>{{created}}</td>
                <td>
                    <div class="dropdown" id="customized-dropdown">
                        <button class="btn btn-secondary" type="button" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-v"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right animated fadeIn">
                            <a class="dropdown-item" href="#">Edit</a>
                            <a class="dropdown-item" href="#">View</a>
                            <a class="dropdown-item delete-item" data-id="/users/{{id}}" path="/users" access-id="{{privileges.delete}}"
                                href="#">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>