<div class="container-fluid" style="width:70%;">
    {{#each requests}}
    <div class="card card-request mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-10">
                    <div class="media">
                        <img class="mr-3" src="/img/logos/icons/avatar.png" width="30" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0">{{name}}</h5>
                            <p>Joined : {{created}}</p>
                            <p>Profile : {{role}}</p>
                            <p>Is Admin : {{isAdmin}}</p>
                            <p>Email : {{email}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <form action="/users/requests/{{id}}?_method=PUT" method="POST" class="d-inline">
                        <input type="hidden" name="_method" value="PUT">
                        <button type="submit" class="btn btn-default select-item" data-toggle="tooltip" title="Approve"><i
                                class="fa fa-check fa-lg"></i></button>
                    </form>
                    <button type="button" class="btn btn-danger" onclick="deleteItem('/users/requests/{{id}}');">
                        <i class="fa fa-trash-o fa-lg"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <p>No pending requests.</p>
    {{/each}}

    <!-- Checking UPDATE & DELETE Access Privileges -->

    {{#unless user.privileges.update}}
    <script>
        let updateItems = document.getElementsByClassName('select-item'), count;

        for (count = 0; count < updateItems.length; count++) {
            updateItems[count].style.display = 'none';
        }
    </script>
    {{/unless}}

    {{#unless user.privileges.delete}}
    <script>
        let items = document.getElementsByClassName("btn-danger"), i;

        for (i = 0; i < items.length; i++) {
            items[i].style.display = 'none';
        }
    </script>
    {{/unless}}

</div>